/* line 6, ../scss/microsite.scss */
.microsite-page #header {
  height: 7.4375rem;
  padding: 0;
}
/* line 9, ../scss/microsite.scss */
.microsite-page #header #global-header {
  background: rgba(0, 0, 0, 0.9);
  height: 1.875rem;
}
/* line 10, ../scss/microsite.scss */
.microsite-page #header #global-header > .row {
  height: 100%;
  padding: 0 0.7rem 0 1.3rem;
}
/* line 16, ../scss/microsite.scss */
.microsite-page #header #global-header a, .microsite-page #header #global-header #regional-label {
  color: #f2d383;
  border: none;
  height: 100%;
  display: inline-block;
  padding-top: 0.25rem;
}
/* line 22, ../scss/microsite.scss */
.microsite-page #header #global-header a#global-home-link, .microsite-page #header #global-header #regional-label#global-home-link {
  float: left;
}
/* line 24, ../scss/microsite.scss */
.microsite-page #header #global-header a#global-home-link .icon-icon-home, .microsite-page #header #global-header #regional-label#global-home-link .icon-icon-home {
  font-size: 1.2rem;
}
/* line 29, ../scss/microsite.scss */
.microsite-page #header #global-header #global-home-link, .microsite-page #header #global-header #regional-label {
  font-family: "Cinzel", Palatino Linotype, Palatino, Georgia, serif;
  font-weight: 700;
}
/* line 33, ../scss/microsite.scss */
.microsite-page #header #global-header #regional-label {
  float: right;
}
/* line 37, ../scss/microsite.scss */
.microsite-page #header #regional-header {
  height: 4.0625rem;
  position: relative;
  padding: 0 1rem;
}
/* line 41, ../scss/microsite.scss */
.microsite-page #header #regional-header img.logo-mobile {
  top: 0.5rem;
}
/* line 44, ../scss/microsite.scss */
.microsite-page #header #regional-header .mobile-logo-holder {
  border: none;
}

/* line 51, ../scss/microsite.scss */
.microsite-page #hero .hero-buttons a.btn {
  line-height: 1.3;
  max-width: 19rem;
}
/* line 55, ../scss/microsite.scss */
.microsite-page input[disabled] {
  text-align: center;
  border-color: #f2d383;
  color: #f2d383;
  background: transparent;
}
/* line 62, ../scss/microsite.scss */
.microsite-page h3 {
  margin: 1.5rem 0 0;
}
/* line 65, ../scss/microsite.scss */
.microsite-page #hero .hero-overlay {
  padding-top: 7rem;
}

/* line 74, ../scss/microsite.scss */
.home.microsite-page #hero .hero-overlay {
  padding-top: 0;
}

/*
 .d8888b.      d8888   .d8888b.       888     888 8888888b.  
d88P  Y88b    d8P888  d88P  Y88b      888     888 888   Y88b 
888          d8P 888  888    888      888     888 888    888 
888d888b.   d8P  888  888    888      888     888 888   d88P 
888P "Y88b d88   888  888    888      888     888 8888888P"  
888    888 8888888888 888    888      888     888 888        
Y88b  d88P       888  Y88b  d88P      Y88b. .d88P 888        
 "Y8888P"        888   "Y8888P"        "Y88888P"  888        
*/
@media only screen and (min-width: 40.0625rem) {
  /* line 93, ../scss/microsite.scss */
  .microsite-page #header {
    height: 17.5rem;
  }
  /* line 95, ../scss/microsite.scss */
  .microsite-page #header #global-header {
    height: 2.5rem;
  }
  /* line 97, ../scss/microsite.scss */
  .microsite-page #header #global-header #global-home-link {
    padding: 0.45rem 0;
  }
  /* line 100, ../scss/microsite.scss */
  .microsite-page #header #global-header #global-home-link .icon-icon-home {
    margin-right: 0.625rem;
  }
  /* line 103, ../scss/microsite.scss */
  .microsite-page #header #global-header #global-home-link span {
    display: inline-block !important;
  }
  /* line 108, ../scss/microsite.scss */
  .microsite-page #header #global-header #regional-label {
    padding: 0.45rem 0;
  }
  /* line 112, ../scss/microsite.scss */
  .microsite-page #header #regional-header {
    height: 9.0625rem;
  }
  /* line 115, ../scss/microsite.scss */
  .microsite-page #header.minimized {
    height: 8.0625rem;
  }
  /* line 117, ../scss/microsite.scss */
  .microsite-page #header.minimized #regional-header {
    height: 4.0625rem;
  }
  /* line 119, ../scss/microsite.scss */
  .microsite-page #header.minimized #regional-header .header-logo-holder {
    top: -2px;
    width: 160px;
    height: 70px;
  }
  /* line 125, ../scss/microsite.scss */
  .microsite-page #header.minimized label.btn {
    top: 0.8rem;
  }
  /* line 128, ../scss/microsite.scss */
  .microsite-page #header.minimized ul.social-icons {
    top: 0.45rem;
  }
  /* line 132, ../scss/microsite.scss */
  .microsite-page #header label.btn {
    top: 4.0625rem;
  }
  /* line 135, ../scss/microsite.scss */
  .microsite-page #header ul.social-icons {
    top: 3.9375rem;
  }

  /* line 141, ../scss/microsite.scss */
  .microsite-page #hero .hero-buttons a.btn {
    line-height: 1.3;
    max-width: none;
  }
  /* line 145, ../scss/microsite.scss */
  .microsite-page #hero .hero-overlay {
    padding-top: 17rem;
  }
}
/*
888             d8888 8888888b.   .d8888b.  8888888888       888     888 8888888b.  
888            d88888 888   Y88b d88P  Y88b 888              888     888 888   Y88b 
888           d88P888 888    888 888    888 888              888     888 888    888 
888          d88P 888 888   d88P 888        8888888          888     888 888   d88P 
888         d88P  888 8888888P"  888  88888 888              888     888 8888888P"  
888        d88P   888 888 T88b   888    888 888              888     888 888        
888       d8888888888 888  T88b  Y88b  d88P 888              Y88b. .d88P 888        
88888888 d88P     888 888   T88b  "Y8888P88 8888888888        "Y88888P"  888        
*/
@media only screen and (min-width: 64.0625em) {
  /* line 169, ../scss/microsite.scss */
  .microsite-page #header {
    height: 15.625rem;
  }
  /* line 171, ../scss/microsite.scss */
  .microsite-page #header.minimized {
    height: 6.5625rem;
  }
}
/*
 d888    .d8888b.   d888  888888888        888     888 8888888b.  
d8888   d88P  Y88b d8888  888              888     888 888   Y88b 
  888          888   888  888              888     888 888    888 
  888        .d88P   888  8888888b.        888     888 888   d88P 
  888    .od888P"    888       "Y88b       888     888 8888888P"  
  888   d88P"        888         888       888     888 888        
  888   888"         888  Y88b  d88P       Y88b. .d88P 888        
8888888 888888888  8888888 "Y8888P"         "Y88888P"  888        
*/
@media only screen and (min-width: 75.9375rem) {
  /* line 192, ../scss/microsite.scss */
  .microsite-page #header #global-header,
  .microsite-page #header #global-header > .row,
  .microsite-page #header #regional-header {
    padding: 0;
  }
}
