/* line 6, ../../../../../flat-front/scss/microsite.scss */
.microsite-page #header {
  height: 7.4375rem;
  padding: 0;
}
/* line 9, ../../../../../flat-front/scss/microsite.scss */
.microsite-page #header #global-header {
  background: rgba(0, 0, 0, 0.9);
  height: 1.875rem;
}
/* line 10, ../../../../../flat-front/scss/microsite.scss */
.microsite-page #header #global-header > .row {
  height: 100%;
  padding: 0 0.7rem 0 1.3rem;
}
/* line 16, ../../../../../flat-front/scss/microsite.scss */
.microsite-page #header #global-header a, .microsite-page #header #global-header #regional-label {
  color: #f2d383;
  border: none;
  height: 100%;
  display: inline-block;
  padding-top: 0.25rem;
}
/* line 22, ../../../../../flat-front/scss/microsite.scss */
.microsite-page #header #global-header a#global-home-link, .microsite-page #header #global-header #regional-label#global-home-link {
  float: left;
}
/* line 24, ../../../../../flat-front/scss/microsite.scss */
.microsite-page #header #global-header a#global-home-link .icon-icon-home, .microsite-page #header #global-header #regional-label#global-home-link .icon-icon-home {
  font-size: 1.2rem;
}
/* line 29, ../../../../../flat-front/scss/microsite.scss */
.microsite-page #header #global-header #global-home-link, .microsite-page #header #global-header #regional-label {
  font-family: "Cinzel", Palatino Linotype, Palatino, Georgia, serif;
  font-weight: 700;
}
/* line 33, ../../../../../flat-front/scss/microsite.scss */
.microsite-page #header #global-header #regional-label {
  float: right;
}
/* line 37, ../../../../../flat-front/scss/microsite.scss */
.microsite-page #header #regional-header {
  height: 4.0625rem;
  position: relative;
  padding: 0 1rem;
}
/* line 41, ../../../../../flat-front/scss/microsite.scss */
.microsite-page #header #regional-header img.logo-mobile {
  top: 0.5rem;
}
/* line 44, ../../../../../flat-front/scss/microsite.scss */
.microsite-page #header #regional-header .mobile-logo-holder {
  border: none;
}

/* line 51, ../../../../../flat-front/scss/microsite.scss */
.microsite-page #hero .hero-buttons {
  top: -1rem;
}
/* line 53, ../../../../../flat-front/scss/microsite.scss */
.microsite-page #hero .hero-buttons a.btn {
  line-height: 1.3;
  max-width: 19rem;
}
/* line 58, ../../../../../flat-front/scss/microsite.scss */
.microsite-page input[disabled] {
  text-align: center;
  border-color: #f2d383;
  color: #f2d383;
  background: transparent;
}
/* line 65, ../../../../../flat-front/scss/microsite.scss */
.microsite-page h3 {
  margin: 1.5rem 0 0;
}
/* line 68, ../../../../../flat-front/scss/microsite.scss */
.microsite-page #hero .hero-overlay {
  padding-top: 7rem;
}

/* line 77, ../../../../../flat-front/scss/microsite.scss */
.home.microsite-page #hero .hero-overlay {
  padding-top: 0;
}

/*
 .d8888b.      d8888   .d8888b.       888     888 8888888b.  
d88P  Y88b    d8P888  d88P  Y88b      888     888 888   Y88b 
888          d8P 888  888    888      888     888 888    888 
888d888b.   d8P  888  888    888      888     888 888   d88P 
888P "Y88b d88   888  888    888      888     888 8888888P"  
888    888 8888888888 888    888      888     888 888        
Y88b  d88P       888  Y88b  d88P      Y88b. .d88P 888        
 "Y8888P"        888   "Y8888P"        "Y88888P"  888        
*/
@media only screen and (min-width: 40.0625rem) {
  /* line 96, ../../../../../flat-front/scss/microsite.scss */
  .microsite-page #header {
    height: 17.5rem;
  }
  /* line 98, ../../../../../flat-front/scss/microsite.scss */
  .microsite-page #header #global-header {
    height: 2.5rem;
  }
  /* line 100, ../../../../../flat-front/scss/microsite.scss */
  .microsite-page #header #global-header #global-home-link {
    padding: 0.45rem 0;
  }
  /* line 103, ../../../../../flat-front/scss/microsite.scss */
  .microsite-page #header #global-header #global-home-link .icon-icon-home {
    margin-right: 0.625rem;
  }
  /* line 106, ../../../../../flat-front/scss/microsite.scss */
  .microsite-page #header #global-header #global-home-link span {
    display: inline-block !important;
  }
  /* line 111, ../../../../../flat-front/scss/microsite.scss */
  .microsite-page #header #global-header #regional-label {
    padding: 0.45rem 0;
  }
  /* line 115, ../../../../../flat-front/scss/microsite.scss */
  .microsite-page #header #regional-header {
    height: 9.0625rem;
  }
  /* line 118, ../../../../../flat-front/scss/microsite.scss */
  .microsite-page #header.minimized {
    height: 8.0625rem;
  }
  /* line 120, ../../../../../flat-front/scss/microsite.scss */
  .microsite-page #header.minimized #regional-header {
    height: 4.0625rem;
  }
  /* line 122, ../../../../../flat-front/scss/microsite.scss */
  .microsite-page #header.minimized #regional-header .header-logo-holder {
    top: -2px;
    width: 160px;
    height: 70px;
  }
  /* line 128, ../../../../../flat-front/scss/microsite.scss */
  .microsite-page #header.minimized label.btn {
    top: 0.8rem;
  }
  /* line 131, ../../../../../flat-front/scss/microsite.scss */
  .microsite-page #header.minimized ul.social-icons {
    top: 0.45rem;
  }
  /* line 135, ../../../../../flat-front/scss/microsite.scss */
  .microsite-page #header label.btn {
    top: 4.0625rem;
  }
  /* line 138, ../../../../../flat-front/scss/microsite.scss */
  .microsite-page #header ul.social-icons {
    top: 3.9375rem;
  }

  /* line 144, ../../../../../flat-front/scss/microsite.scss */
  .microsite-page #hero .hero-buttons {
    top: 3.2rem;
  }
  /* line 146, ../../../../../flat-front/scss/microsite.scss */
  .microsite-page #hero .hero-buttons a.btn {
    line-height: 1.3;
    max-width: none;
  }
  /* line 151, ../../../../../flat-front/scss/microsite.scss */
  .microsite-page #hero .hero-overlay {
    padding-top: 17rem;
  }
}
/*
888             d8888 8888888b.   .d8888b.  8888888888       888     888 8888888b.  
888            d88888 888   Y88b d88P  Y88b 888              888     888 888   Y88b 
888           d88P888 888    888 888    888 888              888     888 888    888 
888          d88P 888 888   d88P 888        8888888          888     888 888   d88P 
888         d88P  888 8888888P"  888  88888 888              888     888 8888888P"  
888        d88P   888 888 T88b   888    888 888              888     888 888        
888       d8888888888 888  T88b  Y88b  d88P 888              Y88b. .d88P 888        
88888888 d88P     888 888   T88b  "Y8888P88 8888888888        "Y88888P"  888        
*/
@media only screen and (min-width: 64.0625em) {
  /* line 175, ../../../../../flat-front/scss/microsite.scss */
  .microsite-page #header {
    height: 15.625rem;
  }
  /* line 177, ../../../../../flat-front/scss/microsite.scss */
  .microsite-page #header.minimized {
    height: 6.5625rem;
  }
}
/*
 d888    .d8888b.   d888  888888888        888     888 8888888b.  
d8888   d88P  Y88b d8888  888              888     888 888   Y88b 
  888          888   888  888              888     888 888    888 
  888        .d88P   888  8888888b.        888     888 888   d88P 
  888    .od888P"    888       "Y88b       888     888 8888888P"  
  888   d88P"        888         888       888     888 888        
  888   888"         888  Y88b  d88P       Y88b. .d88P 888        
8888888 888888888  8888888 "Y8888P"         "Y88888P"  888        
*/
@media only screen and (min-width: 75.9375rem) {
  /* line 198, ../../../../../flat-front/scss/microsite.scss */
  .microsite-page #header #global-header,
  .microsite-page #header #global-header > .row,
  .microsite-page #header #regional-header {
    padding: 0;
  }
}
