/* line 7, ../scss/no-touch.scss */
.no-touch a:hover {
  padding-bottom: 0.5rem;
  border-color: transparent;
  color: #e5a344;
}
/* line 17, ../scss/no-touch.scss */
.no-touch #menu-frame ul.mobile-menu li a:hover {
  padding: 0;
  color: #e5a344;
}
/* line 27, ../scss/no-touch.scss */
.no-touch #header a:hover {
  padding: initial;
}
/* line 37, ../scss/no-touch.scss */
.no-touch .social-icons li:hover .icon-ring {
  -moz-transform: scale(1.6);
  -ms-transform: scale(1.6);
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  opacity: 0;
  border-color: #f2d383;
}
/* line 46, ../scss/no-touch.scss */
.no-touch .social-icons li:hover .icon-icon-email::before,
.no-touch .social-icons li:hover .icon-icon-linkedin::before,
.no-touch .social-icons li:hover .icon-icon-facebook::before,
.no-touch .social-icons li:hover .icon-icon-phone::before {
  -moz-transform: scale(1.35) rotate(360deg);
  -ms-transform: scale(1.35) rotate(360deg);
  -webkit-transform: scale(1.35) rotate(360deg);
  transform: scale(1.35) rotate(360deg);
}
/* line 54, ../scss/no-touch.scss */
.no-touch input[type="submit"]:hover,
.no-touch button:hover,
.no-touch a.btn:hover,
.no-touch label.btn:hover {
  color: #FFFFFF;
  background: #012639;
  border-color: #012639;
  padding-bottom: 0.7rem;
}
/* line 62, ../scss/no-touch.scss */
.no-touch input[type="submit"]:hover.small,
.no-touch button:hover.small,
.no-touch a.btn:hover.small,
.no-touch label.btn:hover.small {
  padding-bottom: 0.7rem;
}
/* line 70, ../scss/no-touch.scss */
.no-touch .featured-home:nth-child(3n+2) a.btn:hover, .no-touch .featured-home:nth-child(3n+3) a.btn:hover {
  color: #012639;
  background: #FFFFFF;
  border-color: #FFFFFF;
}
/* line 83, ../scss/no-touch.scss */
.no-touch .page-template-home-details #home-content-row .home-content-hidden-link:hover,
.no-touch .single-featured_home #home-content-row .home-content-hidden-link:hover,
.no-touch .single-sr-listings #home-content-row .home-content-hidden-link:hover {
  padding: initial;
}
@media only screen and (min-width: 40.0625em) {
  /* line 91, ../scss/no-touch.scss */
  .no-touch input[type="submit"]:hover,
  .no-touch button:hover,
  .no-touch a.btn:hover,
  .no-touch label.btn:hover {
    padding-bottom: 1rem;
  }
  /* line 96, ../scss/no-touch.scss */
  .no-touch input[type="submit"]:hover.small,
  .no-touch button:hover.small,
  .no-touch a.btn:hover.small,
  .no-touch label.btn:hover.small {
    padding-bottom: 0.7rem;
  }
}
/* line 103, ../scss/no-touch.scss */
.no-touch .reverse input[type="submit"]:hover,
.no-touch .reverse button:hover,
.no-touch .reverse a.btn:hover,
.no-touch .reverse label.btn:hover {
  color: #012639;
  background: #FFFFFF;
  border-color: #FFFFFF;
}
/* line 130, ../scss/no-touch.scss */
.no-touch .slick-slider button:hover {
  padding: 0;
  margin: 0;
  background: transparent;
}
/* line 138, ../scss/no-touch.scss */
.no-touch .slick-dots li button.tab:hover {
  background-size: cover;
  background-position: center;
}
/* line 148, ../scss/no-touch.scss */
.no-touch .featured-home:nth-child(3n+2) .featured-home-details a.btn:hover {
  color: #4d4845;
}
/* line 155, ../scss/no-touch.scss */
.no-touch .featured-home:nth-child(3n+4) .featured-home-details a.btn:hover {
  background-color: #302b28;
  color: #f2d383;
}
/* line 167, ../scss/no-touch.scss */
.no-touch #footer ul.menu li a:hover {
  color: #e5a344;
}
